<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>moot</display-name>
	<servlet>
		<description>
		</description>
		<display-name>ApplicationSubmit</display-name>
		<servlet-name>ApplicationSubmit</servlet-name>
		<servlet-class>
		application.ApplicationSubmit</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ValidateSubmit</display-name>
		<servlet-name>ValidateSubmit</servlet-name>
		<servlet-class>
		application.ValidateSubmit</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RRLAproveSubmit</display-name>
		<servlet-name>RRLAproveSubmit</servlet-name>
		<servlet-class>
		application.RRLAproveSubmit</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TransportSave</display-name>
		<servlet-name>TransportSave</servlet-name>
		<servlet-class>
		admin.TransportSave</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TourRoverSave</display-name>
		<servlet-name>TourRoverSave</servlet-name>
		<servlet-class>
		admin.TourRoverSave</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RoverSave</display-name>
		<servlet-name>RoverSave</servlet-name>
		<servlet-class>
		admin.RoverSave</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetOrder</display-name>
		<servlet-name>GetOrder</servlet-name>
		<servlet-class>
		admin.GetOrder</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>MerchandiseRoverSave</display-name>
		<servlet-name>MerchandiseRoverSave</servlet-name>
		<servlet-class>
		admin.MerchandiseRoverSave</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PaymentsRoverSave</display-name>
		<servlet-name>PaymentsRoverSave</servlet-name>
		<servlet-class>
		admin.PaymentsRoverSave</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CombineSubmit</display-name>
		<servlet-name>CombineSubmit</servlet-name>
		<servlet-class>
		admin.CombineSubmit</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FlightInfoLoader</display-name>
		<servlet-name>FlightInfoLoader</servlet-name>
		<servlet-class>
		admin.FlightInfoLoader</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>MerchandiseSubmit</display-name>
		<servlet-name>MerchandiseSubmit</servlet-name>
		<servlet-class>
		application.MerchandiseSubmit</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>InfoEmailSend</display-name>
		<servlet-name>InfoEmailSend</servlet-name>
		<servlet-class>
		admin.InfoEmailSend</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetTourSelect</display-name>
		<servlet-name>GetTourSelect</servlet-name>
		<servlet-class>
		common.GetTourSelect</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AssignMootNumber</display-name>
		<servlet-name>AssignMootNumber</servlet-name>
		<servlet-class>
		admin.AssignMootNumber</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CrewChart</display-name>
		<servlet-name>CrewChart</servlet-name>
		<servlet-class>
		graph.CrewChart</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TourPopularity</display-name>
		<servlet-name>TourPopularity</servlet-name>
		<servlet-class>
		graph.TourPopularity</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Receipt</display-name>
		<servlet-name>StandardReceipt</servlet-name>
		<servlet-class>paperwork.StandardReceipt</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SendRRLApprovalEmail</display-name>
		<servlet-name>SendRRLApprovalEmail</servlet-name>
		<servlet-class>
		admin.SendRRLApprovalEmail</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SendValidateEmail</display-name>
		<servlet-name>SendValidateEmail</servlet-name>
		<servlet-class>
		admin.SendValidateEmail</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetMerchandiseSelect</display-name>
		<servlet-name>GetMerchandiseSelect</servlet-name>
		<servlet-class>
		common.GetMerchandiseSelect</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>MootPing</display-name>
		<servlet-name>MootPing</servlet-name>
		<servlet-class>
		common.MootPing</servlet-class>
	</servlet>
    <servlet>
        <servlet-name>SimpleTeamAssignSubmit</servlet-name>
        <servlet-class>admin.SimpleTeamAssignSubmit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTeam</servlet-name>
        <servlet-class>admin.GetTeam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTeamUnassigned</servlet-name>
        <servlet-class>admin.GetTeamUnassigned</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveTeamMember</servlet-name>
        <servlet-class>admin.RemoveTeamMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTeamMember</servlet-name>
        <servlet-class>admin.AddTeamMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SimpleCrewTeamAssignSubmit</servlet-name>
        <servlet-class>admin.SimpleCrewTeamAssignSubmit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GreedyCrewTeamAssignSubmit</servlet-name>
        <servlet-class>admin.GreedyCrewTeamAssignSubmit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeamScoresSave</servlet-name>
        <servlet-class>admin.TeamScoresSave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StandardInvoice</servlet-name>
        <servlet-class>paperwork.StandardInvoice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MerchandiseEmail</servlet-name>
        <servlet-class>admin.MerchandiseEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRover</servlet-name>
        <servlet-class>admin.registration.GetRover</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>admin.registration.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pay</servlet-name>
        <servlet-class>admin.registration.Pay</servlet-class>
    </servlet>
    <servlet-mapping>
		<servlet-name>ApplicationSubmit</servlet-name>
		<url-pattern>/servlet/application/ApplicationSubmit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ValidateSubmit</servlet-name>
		<url-pattern>/servlet/application/ValidateSubmit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RRLAproveSubmit</servlet-name>
		<url-pattern>/servlet/application/RRLAproveSubmit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TransportSave</servlet-name>
		<url-pattern>/servlet/admin/TransportSave</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TourRoverSave</servlet-name>
		<url-pattern>/servlet/admin/TourRoverSave</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RoverSave</servlet-name>
		<url-pattern>/servlet/admin/RoverSave</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetOrder</servlet-name>
		<url-pattern>/servlet/admin/GetOrder</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MerchandiseRoverSave</servlet-name>
		<url-pattern>/servlet/admin/MerchandiseRoverSave</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PaymentsRoverSave</servlet-name>
		<url-pattern>/servlet/admin/PaymentsRoverSave</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CombineSubmit</servlet-name>
		<url-pattern>/servlet/admin/CombineSubmit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FlightInfoLoader</servlet-name>
		<url-pattern>/servlet/admin/FlightInfoLoader</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MerchandiseSubmit</servlet-name>
		<url-pattern>/servlet/application/MerchandiseSubmit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InfoEmailSend</servlet-name>
		<url-pattern>/servlet/admin/InfoEmailSend</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetTourSelect</servlet-name>
		<url-pattern>/servlet/common/GetTourSelect</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AssignMootNumber</servlet-name>
		<url-pattern>/servlet/admin/AssignMootNumber</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CrewChart</servlet-name>
		<url-pattern>/servlet/graph/CrewChart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TourPopularity</servlet-name>
		<url-pattern>/servlet/graph/TourPopularity</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StandardReceipt</servlet-name>
		<url-pattern>/servlet/paperwork/StandardReceipt</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SendRRLApprovalEmail</servlet-name>
		<url-pattern>/servlet/admin/SendRRLApprovalEmail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SendValidateEmail</servlet-name>
		<url-pattern>/servlet/admin/SendValidateEmail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetMerchandiseSelect</servlet-name>
		<url-pattern>/servlet/common/GetMerchandiseSelect</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MootPing</servlet-name>
		<url-pattern>/Ping</url-pattern>
	</servlet-mapping>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Moot Administration</web-resource-name>
			<url-pattern>/pages/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>mootadmin</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>moot</realm-name>
	</login-config>

	<security-role>
		<description>Moot administration roles</description>
		<role-name>mootadmin</role-name>
	</security-role>
    <servlet-mapping>
        <servlet-name>SimpleTeamAssignSubmit</servlet-name>
        <url-pattern>/servlet/admin/SimpleTeamAssignSubmit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTeam</servlet-name>
        <url-pattern>/servlet/admin/GetTeam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTeamUnassigned</servlet-name>
        <url-pattern>/servlet/admin/GetTeamUnassigned</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveTeamMember</servlet-name>
        <url-pattern>/servlet/admin/RemoveTeamMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTeamMember</servlet-name>
        <url-pattern>/servlet/admin/AddTeamMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimpleCrewTeamAssignSubmit</servlet-name>
        <url-pattern>/servlet/admin/SimpleCrewTeamAssignSubmit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GreedyCrewTeamAssignSubmit</servlet-name>
        <url-pattern>/servlet/admin/GreedyCrewTeamAssignSubmit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamScoresSave</servlet-name>
        <url-pattern>/servlet/admin/TeamScoresSave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StandardInvoice</servlet-name>
        <url-pattern>/servlet/paperwork/StandardInvoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MerchandiseEmail</servlet-name>
        <url-pattern>/servlet/admin/MerchandiseEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRover</servlet-name>
        <url-pattern>/servlet/admin/register/GetRover</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/servlet/admin/register/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pay</servlet-name>
        <url-pattern>/servlet/admin/register/Pay</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
